Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:

name="pwskills"
print(f"String: {name}")
lst=[2,4,1,"siva"]
print(f"list: {lst}")
num=394.29
print(f"float: {num}")
tup=(2,4,"hello",39)
print(f"tuple: {tup}")

String: pwskills
list: [2, 4, 1, 'siva']
float: 394.29
tuple: (2, 4, 'hello', 39)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(f"i) type of var1: {type(var1)}")
print(f"ii) type of var2: {type(var2)}")
print(f"iii) type of var3: {type(var3)}")
print(f"iv) type of var4: {type(var4)}")

i) type of var1: <class 'str'>
ii) type of var2: <class 'str'>
iii) type of var3: <class 'list'>
iv) type of var4: <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [14]:
#i) / ->division operator 
#The division operator is used for division between two numbers and it returns quotient
a=349
b=30
print("division operator: ",a/b) 
# % -> modulus operator gives remainder when two numbers are divided
print("modulus operator: ",a%b)
# // -> Floor division operator gives whole number quotient when two numbers are devided
print("floor division operator: ",a//b)
# ** -> gives value of base raised to the power of exponent
print("double asterisk operator:",2**5)

division operator:  11.633333333333333
modulus operator:  19
floor division operator:  11
double asterisk operator: 32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
lst=["pwskills",23,20.34,"siva",[23,23],9,(23,45,14),{2:"hello"},34.22,323+34j]
for i in lst:
    print(f"value : {i} --> type : {type(i)}")

value : pwskills --> type : <class 'str'>
value : 23 --> type : <class 'int'>
value : 20.34 --> type : <class 'float'>
value : siva --> type : <class 'str'>
value : [23, 23] --> type : <class 'list'>
value : 9 --> type : <class 'int'>
value : (23, 45, 14) --> type : <class 'tuple'>
value : {2: 'hello'} --> type : <class 'dict'>
value : 34.22 --> type : <class 'float'>
value : (323+34j) --> type : <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [30]:
a=int(input("enter a value:"))
b=int(input("enter b value:"))
count=0
while a%b==0:
    count+=1
    a//=b
if a==1:
    print("a is purely divisible by number b")
    print(f"count :{count}")
else:
    print("a is not purely divisible by number b")

a is purely divisible by number b
count :3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
lst=[2,49,28,29,394,239,43,19,489,42390,3429,2349,59,40,59,329,29,48,39,59,94,20,59,69,39]
for i in lst:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

2 is not divisible by 3
49 is not divisible by 3
28 is not divisible by 3
29 is not divisible by 3
394 is not divisible by 3
239 is not divisible by 3
43 is not divisible by 3
19 is not divisible by 3
489 is divisible by 3
42390 is divisible by 3
3429 is divisible by 3
2349 is divisible by 3
59 is not divisible by 3
40 is not divisible by 3
59 is not divisible by 3
329 is not divisible by 3
29 is not divisible by 3
48 is divisible by 3
39 is divisible by 3
59 is not divisible by 3
94 is not divisible by 3
20 is not divisible by 3
59 is not divisible by 3
69 is divisible by 3
39 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Ans)
 Mutable:- objects can be changed after creation.
example:-
list
immutable:-objects cannot be changed after creation.
example:-
    string

In [2]:
lst=[2,3,4,5]
print(f"original list: {lst}")
lst[0]=293
print(f"list after changing: {lst}")

original list: [2, 3, 4, 5]
list after changing: [293, 3, 4, 5]

In [5]:
name="siva"
print(name)
name[2]='w'
print(name)

siva

TypeError: 'str' object does not support item assignment